<!DOCTYPE html>
<html>
  <head>
    <title>T-Wrecks</title>
    <meta name="license plate ">
    <script src="https://aframe.io/releases/0.7.0/aframe.min.js"></script>
    <script src="https://jeromeetienne.github.io/AR.js/aframe/build/aframe-ar.js"></script>
    <script src="https://unpkg.com/aframe-animation-component@%5E3.2.x/dist/aframe-animation-component.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript">


    AFRAME.registerComponent('demon', {
      init: function() {
        var el = this.el;
        console.log('demon');
        console.log(this.data);

        function captureImages(video) {

          var captured_image;

          var captureImage = function(video, scale) {
            var canvas = document.createElement("canvas");
            canvas.width = video.videoWidth * scale;
            canvas.height = video.videoHeight * scale;
            canvas.getContext('2d')
                  .drawImage(video, 0, 0, canvas.width, canvas.height);

            var img = document.createElement("img");
            img.src = canvas.toDataURL();
            console.log(img.src);
          };


          window.setInterval(function(){
            captured_image = captureImage(video, 0.25);
            console.log(captured_image);

            $.ajax({
              type: "POST",
              url: "another_file.html",
              data: captured_image,
            });
          }, 500);

        }

        setTimeout(function(){
          var video = document.querySelector("video");
          console.log('video');
          console.log(video);

          //captureImages(video);

        }, 1000);


      }
    })
    </script>
    <style>
      #camera-div {
        width: 100%;
        height: 100%;
      }
      #mainCanvas {
        width: 100%;
        height: 100%;
      }
    </style>
  </head>
  <body>
    <div id="camera-div">
      <a-scene embedded arjs id="scene" width="100" height="100" demon>
        <a-assets>
          <a-asset-item id="tree-obj" src="https://raw.githubusercontent.com/kongcho/t-wrecks/master/tree1.obj"></a-asset-item>
          <a-asset-item id="tree-mtl" src="https://raw.githubusercontent.com/kongcho/t-wrecks/master/tree1.mtl.txt"></a-asset-item>
        </a-assets>
        <a-entity id="tree" obj-model="obj: #tree-obj; mtl: #tree-mtl" position="-80 0 -200" scale="0.125 0.125 0.125" animation="property: position; dur: 5000; dir: alternate; loop: true; to: 90 0 -200"></a-entity>
        <a-camera id="camera" position="0 0 0">
          <a-cursor></a-cursor>
        </a-camera>
      </a-scene>
      <canvas id="mainCanvas" position="absolute"></canvas>
    </div>
    <script type="text/javascript">

      console.log("beginning of body script");

      function get_data() {
        $.ajax({
          url: 'https://places.demo.api.here.com/places/v1/discover/search',
          type: 'GET',
          data: {
            at: '37.7942,-122.4070',
            q: 'restaurant',
            app_id: 'p12uI7q3kXyMbTvWxVwy',
            app_code: 'Vwb0ubafZTNhrG-4g6EGIA'
          },
          beforeSend: function(xhr){
            xhr.setRequestHeader('Accept', 'application/json');
          },
          success: function (data) {
            console.log(JSON.stringify(data));
          }
        });
      }

      get_data();

      function toggle_visibility(element_id) {
        el = document.getElementById(element_id);
        if(el.getAttribute('visible') == true) {
          el.setAttribute('visible', 'false');
        } else {
          el.setAttribute('visible', 'true');
          console.log(el.getAttribute('visible'));
        }

      }
      function draw_on_canvas(xcoor, ycoor, width, height) {
        var canvas = document.getElementById("mainCanvas");
        var ctx = canvas.getContext("2d");
        ctx.fillStyle="#FF0000";
        ctx.fillRect(xcoor, ycoor, width, height);
        return ctx;
      }

      function draw_from_points([p1, p2, p3, p4]) {
        var canvas = document.getElementById("mainCanvas");
        var ctx = canvas.getContext("2d");
        ctx.beginPath();
        ctx.moveTo(p1.x, p1.y);
        ctx.lineTo(p2.x, p2.y);
        ctx.lineTo(p3.x, p3.y);
        ctx.lineTo(p4.x, p4.y);
        ctx.lineTo(p1.x, p1.y);
        ctx.stroke();
      }

      var p1 = {"x":10,"y":10};
      var p2 = {"x":20,"y":10};
      var p3 = {"x":20,"y":20};
      var p4 = {"x":10,"y":20};


      function draw_from_corners([p1,p2,p3,p4]) {
        var width = Math.abs(p3.x-p1.x);
        var height = Math.abs(p3.y-p1.y);
        var ctx = draw_on_canvas(p1.x, p1.y, width, height);
      }

      draw_from_corners([p1,p2,p3,p4]);

      console.log("end");

    </script>
  </body>
</html>
